include README.md
include LICENSE
include requirements.txt
recursive-include interpboard *.py
recursive-include docs *.md *.rst
recursive-include examples *.py *.ipynb
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.so
recursive-exclude * .DS_Store